<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kcs.rest.dao.DepartmentDao" >


    <select id="findAllDepartment" resultType="com.kcs.rest.pojo.Department">
        select *
        from [Department]
        order by DepartmentID desc
    </select>

    <insert id="addDepartment" parameterType="java.lang.String">
        insert into Department (DepartmentName)
        values (#{departmentName})
    </insert>

</mapper>