<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kcs.rest.dao.GoodsDao" >


    <select id="findGoodsById" resultType="com.kcs.rest.pojo.Goods" parameterType="java.lang.Integer">
        select *
        from [Goods]
        where GoodsID = #{GoodsID,jdbcType=INTEGER}
    </select>

    <select id="findGoodsInSummaryGoodsID" resultType="com.kcs.rest.pojo.Goods" parameterType="java.lang.Integer">
        select [Goods].ItemsName
        from [Goods],[Summary]
        where [Goods].GoodsID = [Summary].GoodsID
        group by [Goods].ItemsName
    </select>

    <select id="findGoodsByItemName" resultType="com.kcs.rest.pojo.Goods" parameterType="java.lang.String">
        select *
        from [Goods]
        where ItemsName = #{ItemsName,jdbcType=CHAR}
    </select>

    <select id="findGoodsByItemsNameAndItemsType" resultType="com.kcs.rest.pojo.Goods" parameterType="java.lang.String">
        select *
        from [Goods]
        where ItemsName = #{ItemsName,jdbcType=CHAR} and ItemsType = #{ItemsType,jdbcType=CHAR}
    </select>

    <select id="findItemsNameUniqueByTime" resultType="com.kcs.rest.pojo.Goods" parameterType="java.lang.String">
        select [Goods].ItemsName
        from [Summary],[Goods]
        where [Summary].Time like #{Time}+'%' and [Goods].GoodsID = [Summary].GoodsID
        group by [Goods].ItemsName
    </select>
    <select id="findItemsNameUnique" resultType="com.kcs.rest.pojo.Goods">
        select [Goods].ItemsName
        from [Goods],
        (SELECT * FROM Summary s1 WHERE not EXISTS(select GoodsID from Summary s2 WHERE s2.Time>s1.Time and s1.GoodsID = s2.GoodsID)) s
        where [Goods].GoodsID = s.GoodsID
        group by [Goods].ItemsName
    </select>
    
</mapper>