<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kcs.rest.dao.GoodsDao" >

    <resultMap id="CategoryMap" type="com.kcs.rest.pojo.Goods">
        <id column="GoodsID" property="GoodsID" />
        <result column="categoryID" property="categoryID"/>
        <result column="ItemsName" property="ItemsName"/>
        <result column="ItemsType" property="ItemsType"/>
        <result column="ItemsUnit" property="ItemsUnit"/>
        <collection property="Categories" ofType="com.kcs.rest.pojo.Category">
            <id column="CategoryID" property="CategoryID"/>
            <result column="CategoryName" property="CategoryName"/>
        </collection>
    </resultMap>


    <select id="findGoodsById" resultType="com.kcs.rest.pojo.Goods" parameterType="java.lang.Integer">
        select *
        from [Goods]
        where GoodsID = #{GoodsID,jdbcType=INTEGER}
    </select>

    <select id="findGoodsInSummaryGoodsID" resultType="com.kcs.rest.pojo.Goods" parameterType="java.lang.Integer">
        select [Goods].ItemsName
        from [Goods],[Summary]
        where [Goods].GoodsID = [Summary].GoodsID
        group by [Goods].ItemsName
    </select>

    <select id="findGoodsByItemName" resultType="com.kcs.rest.pojo.Goods" parameterType="java.lang.String">
        select *
        from [Goods]
        where ItemsName = #{ItemsName,jdbcType=CHAR}
    </select>

    <select id="findAllGoods" resultType="com.kcs.rest.pojo.Goods">
        select * from Goods
    </select>

    <select id="findGoodsBygoodsId" resultMap="CategoryMap" parameterType="int">
        select * from Goods left join Category on Goods.CategoryID =  Category.CategoryID where GoodsID=#{id}
    </select>

    <select id="findGoodsByItemsNameAndItemsType" resultType="com.kcs.rest.pojo.Goods" parameterType="java.lang.String">
        select *
        from [Goods]
        where ItemsName = #{ItemsName,jdbcType=CHAR} and ItemsType = #{ItemsType,jdbcType=CHAR}
    </select>

    <select id="findItemsNameUniqueByTime" resultType="com.kcs.rest.pojo.Goods" parameterType="java.lang.String">
        select [Goods].ItemsName
        from [Summary],[Goods]
        where [Summary].Time like #{Time}+'%' and [Goods].GoodsID = [Summary].GoodsID
        group by [Goods].ItemsName
    </select>
    <select id="findItemsNameUnique" resultType="com.kcs.rest.pojo.Goods">
        select [Goods].ItemsName
        from [Goods],
        (SELECT * FROM Summary s1 WHERE not EXISTS(select GoodsID from Summary s2 WHERE s2.Time>s1.Time and s1.GoodsID = s2.GoodsID)) s
        where [Goods].GoodsID = s.GoodsID
        group by [Goods].ItemsName
    </select>

    <select id="findAddOutBillByCategoryName" parameterType="java.lang.String" resultType="com.kcs.rest.pojo.AddOutBill">
        select Goods.GoodsID,Goods.CategoryID,Goods.ItemsName,Goods.ItemsType,Goods.ItemsUnit,SummaryID,PreAmount,PreTotal,InAmount,InPrice,InTotal,OutAmount,OutTotal,ThisAmount,ThisPrice,ThisTotal,Time,StorePosition
        from Goods,
        (select * from (SELECT * FROM Summary s1 WHERE not EXISTS
        (select GoodsID from Summary s2 WHERE s2.Time>s1.Time and s1.GoodsID = s2.GoodsID))s2
        where s2.GoodsID in
        (select GoodsID from Summary
        where GoodsID in(
        select GoodsID
        from Goods
        where CategoryID=(
        select CategoryID
        from Category
        where CategoryName=#{CategoryName}))
        group by GoodsID))s,
        (SELECT * FROM ItemsIn i1 WHERE not EXISTS
        (select GoodsID from ItemsIn i2 WHERE i1.ItemsInID>i2.ItemsInID and i1.GoodsID = i2.GoodsID))i
        where Goods.GoodsID = s.GoodsID
        and Goods.GoodsID = i.GoodsID
    </select>

    <select id="findTheLastItemsNameByCategoryName" resultType="java.lang.String" parameterType="java.lang.String">
        select Goods.ItemsName from Goods,
        (select * from
        (SELECT * FROM Summary s1 WHERE not EXISTS
        (select GoodsID from Summary s2 WHERE s2.Time>s1.Time and s1.GoodsID = s2.GoodsID))s2
        where s2.GoodsID in
        (select GoodsID from Summary where GoodsID in
        (select GoodsID from Goods where CategoryID=(select CategoryID from Category
        where CategoryName=#{CategoryName})) group by GoodsID))s
        where Goods.GoodsID=s.GoodsID
        group by Goods.ItemsName
    </select>

    <select id="findAddOutBillByItemsName" resultType="com.kcs.rest.pojo.AddOutBill" parameterType="java.lang.String">
        select Goods.GoodsID,Goods.CategoryID,Goods.ItemsName,Goods.ItemsType,Goods.ItemsUnit,SummaryID,PreAmount,PreTotal,InAmount,InPrice,InTotal,OutAmount,OutTotal,ThisAmount,ThisPrice,ThisTotal,Time,StorePosition
from (SELECT * FROM Summary s1 WHERE not EXISTS
        (select GoodsID from Summary s2 WHERE s2.Time>s1.Time and s1.GoodsID = s2.GoodsID))s2,Goods,(SELECT * FROM ItemsIn i1 WHERE not EXISTS
        (select GoodsID from ItemsIn i2 WHERE i1.ItemsInID>i2.ItemsInID and i1.GoodsID = i2.GoodsID))i
        where s2.GoodsID in(select GoodsID from Goods where ItemsName=#{ItemsName})
        and s2.GoodsID=Goods.GoodsID
        and  Goods.GoodsID = i.GoodsID
    </select>

</mapper>