<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kcs.rest.dao.InBillDao" >

    <update id="updateInBillAlltotalByID">
        update InBill set AllTotal = Round(#{nowAllTotal},2) where InBillID = #{inBillID}
    </update>

    <select id="findAllInBill"  resultType="com.kcs.rest.pojo.InBill" >
        select * from InBill
    </select>

    <select id="findCheckMessageByID" resultType="com.kcs.rest.pojo.InBill" parameterType="int">
        select * from InBill where InBillID =#{InBillID}
    </select>

    <select id="findMaxInBillID" resultType="int">
        select MAX(InBillID)
        from InBill
    </select>

    <select id="count" resultType="int">
        select count(*) from InBill
    </select>

    <select id="findTimeByID" resultType="String" parameterType="int">
        select TimeIn from InBill where inBillID=#{inBillID}
    </select>

    <insert id="insertNewBill" parameterType="com.kcs.rest.pojo.InBill" useGeneratedKeys="true" keyProperty="InBillID">
        insert into InBill (ProviderID,InvoiceID,StoreManager,TimeIn,Buyer,BuyTime,AllTotal,checker,CheckStatus,TableMaker,Operator,OperateTime)
        values (#{ProviderID},#{InvoiceID},#{StoreManager},#{TimeIn},#{Buyer},#{BuyTime},#{AllTotal},#{Checker},#{CheckStatus},#{TableMaker},#{Operator},#{OperateTime})
    </insert>

    <insert id="UpdateInBill" parameterType="com.kcs.rest.pojo.InBill" >
       update InBill set ProviderID=#{ProviderID},InvoiceID=#{InvoiceID},StoreManager = #{StoreManager} ,TimeIn = #{TimeIn} , Buyer = #{Buyer}, BuyTime = #{BuyTime} , AllTotal = #{AllTotal}, checker=#{checker},Note=#{note},CheckStatus=#{CheckStatus},TableMaker=#{TableMaker},Operator=#{Operator},OperateTime=#{OperateTime} where InBillID =#{InBillID}
    </insert>

    <select id="inBillShowData"  resultType="com.kcs.rest.pojo.inBillShow" >
        select b.ItemsInID,a.InBillID,a.InvoiceID,a.TimeIn,c.ItemsName,b.Type,b.StorePosition,b.ItemNum,b.ItemPrice,b.ItemTotal,a.AllTotal,d.UserName,a.CheckStatus,b.Note from InBill as a
        left join ItemsIn as b
        on a.InBillID = b.InBillID
        left join Goods as c
        on b.GoodsID=c.GoodsID
        left join [User] as d
        on d.UserID = a.Operator
    </select>

    <select id="inBillShowPage"  resultType="com.kcs.rest.pojo.inBillShow">
       select top (#{back}- #{front}+1) * from (select Row_Number() over ( order by TimeIn Desc ) as id , * from (
        select a.InBillID, b.ItemsInID,a.InvoiceID, a.TimeIn,c.ItemsName,b.Type,b.StorePosition,b.ItemNum,b.ItemPrice,b.ItemTotal,a.AllTotal,d.UserName,a.CheckStatus,b.Note from InBill as a
        left join ItemsIn as b
        on a.InBillID = b.InBillID
        left join Goods as c
        on b.GoodsID=c.GoodsID
        left join [User] as d
        on d.UserID = a.Operator where 1=1
        <if test="time1 != null and time1 != '' and time2 !=null and time2 != ''">
            and  TimeIN between #{time1} and #{time2}
        </if>
        <if test="itemName != null and itemName !='' ">
            and ItemsName like '%${itemName}%'
        </if>
        <if test="Invoice != null and Invoice !='' ">
            and InvoiceID like '%${Invoice}%'
        </if>
        <if test="username != null and username !='' ">
            and username like '%${username}%'
        </if>
        <if test="checkStatus != null and checkStatus !='' ">
            and CheckStatus = (#{checkStatus} - 1)
        </if>

        )as show)as show1
        where id not in (
            select top (#{front}-1) id from (select Row_Number() over ( order by getdate() ) as id , * from (
        select a.InBillID, b.ItemsInID,a.InvoiceID, a.TimeIn,c.ItemsName,b.Type,b.StorePosition,b.ItemNum,b.ItemPrice,b.ItemTotal,a.AllTotal,d.UserName,a.CheckStatus,b.Note from InBill as a
        left join ItemsIn as b
        on a.InBillID = b.InBillID
        left join Goods as c
        on b.GoodsID=c.GoodsID
        left join [User] as d
        on d.UserID = a.Operator where 1 = 1
        <if test="time1 != null and time1 != '' and time2 !=null and time2 != ''">
            and  TimeIN between #{time1} and #{time2}
        </if>
        <if test="itemName != null and itemName !='' ">
            and ItemsName like '%${itemName}%'
        </if>
        <if test="Invoice != null and Invoice !='' ">
            and InvoiceID like '%${Invoice}%'
        </if>
        <if test="username != null and username !='' ">
            and username like '%${username}%'
        </if>
        <if test="checkStatus != null and checkStatus !='' ">
            and CheckStatus = (#{checkStatus} - 1)
        </if>
        )as show)as show1 )

    </select>

    <select id="countShow" resultType="int">
        select COUNT(*) from (select b.ItemsInID,a.InvoiceID, a.InBillID,a.TimeIn,c.ItemsName,b.Type,b.StorePosition,b.ItemNum,b.ItemPrice,b.ItemTotal,a.AllTotal,d.UserName,a.CheckStatus,b.Note from InBill as a
        left join ItemsIn as b
        on a.InBillID = b.InBillID
        left join Goods as c
        on b.GoodsID=c.GoodsID
        left join [User] as d
        on d.UserID = a.Operator) as show
    </select>

    <select id="countReload" resultType="int">
        select COUNT(*) from (select b.ItemsInID,a.InvoiceID, a.InBillID,a.TimeIn,c.ItemsName,b.Type,b.StorePosition,b.ItemNum,b.ItemPrice,b.ItemTotal,a.AllTotal,d.UserName,a.CheckStatus,b.Note from InBill as a
        left join ItemsIn as b
        on a.InBillID = b.InBillID
        left join Goods as c
        on b.GoodsID=c.GoodsID
        left join [User] as d
        on d.UserID = a.Operator) as show where 1=1
        <if test="time1 != null and time1 != '' and time2 !=null and time2 != ''">
            and  TimeIN between #{time1} and #{time2}
        </if>
        <if test="itemName != null and itemName !='' ">
            and ItemsName like '%${itemName}%'
        </if>
        <if test="Invoice != null and Invoice !='' ">
            and InvoiceID like '%${Invoice}%'
        </if>
        <if test="username != null and username !='' ">
            and username like '%${username}%'
        </if>
        <if test="checkStatus != null and checkStatus !='' ">
            and CheckStatus = (#{checkStatus} - 1)
        </if>
    </select>

    <select id="ItemInRecord" parameterType="int" resultType="com.kcs.rest.pojo.inBillShow">
select top (#{back}- #{front}+1) * from (select Row_Number() over ( order by TimeIn desc ) as id , * from (
        select a.InBillID, b.ItemsInID,a.InvoiceID,c.GoodsID,a.TimeIn,c.ItemsName,b.Type,b.StorePosition,b.ItemNum,b.ItemPrice,b.ItemTotal,a.AllTotal,d.UserName,a.CheckStatus,b.Note from InBill as a
        left join ItemsIn as b
        on a.InBillID = b.InBillID
        left join Goods as c
        on b.GoodsID=c.GoodsID
        left join [User] as d
        on d.UserID = a.Operator  where c.GoodsID = #{goodsId}
        )as show)as show1
        where id not in (
            select top (#{front}-1) id from (select Row_Number() over ( order by TimeIn desc ) as id , * from (
        select a.InBillID, b.ItemsInID,a.InvoiceID,c.GoodsID, a.TimeIn,c.ItemsName,b.Type,b.StorePosition,b.ItemNum,b.ItemPrice,b.ItemTotal,a.AllTotal,d.UserName,a.CheckStatus,b.Note from InBill as a
        left join ItemsIn as b
        on a.InBillID = b.InBillID
        left join Goods as c
        on b.GoodsID=c.GoodsID
        left join [User] as d
        on d.UserID = a.Operator  where c.GoodsID = #{goodsId}
        )as show)as show1 )
    </select>

    <select id="CountItemInRecord" parameterType="int" resultType="int">
          select COUNT(*) from (select b.ItemsInID,c.GoodsID, a.InBillID,a.InvoiceID,a.TimeIn,c.ItemsName,b.Type,b.StorePosition,b.ItemNum,b.ItemPrice,b.ItemTotal,a.AllTotal,d.UserName,a.CheckStatus,b.Note from InBill as a
        left join ItemsIn as b
        on a.InBillID = b.InBillID
        left join Goods as c
        on b.GoodsID=c.GoodsID
        left join [User] as d
        on d.UserID = a.Operator where c.GoodsID= #{goodsid}
        ) as show
    </select>

    <select id="findPresentItemIn" resultType="com.kcs.rest.pojo.inBillShow">
        select a.InBillID, b.ItemsInID,c.GoodsID, a.TimeIn,c.ItemsName,b.Type,b.StorePosition,b.ItemNum,b.ItemPrice,b.ItemTotal,a.AllTotal,d.UserName,a.CheckStatus,b.Note from InBill as a
        left join ItemsIn as b
        on a.InBillID = b.InBillID
        left join Goods as c
        on b.GoodsID=c.GoodsID
        left join [User] as d
        on d.UserID = a.Operator where 1 =1 and TimeIn like #{subTime}+'%' and c.GoodsID = #{goodsID}
    </select>

</mapper>