<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kcs.rest.dao.ItemsOutDao" >

    <insert id="insertItemsOut" parameterType="com.kcs.rest.pojo.ItemsOut">
        insert into ItemsOut (DepartmentID,OutBillID,GoodsID,ItemNum,ItemPrice,ItemTotal,Project,Note,StorePosition)
        values(#{departmentID},#{outBillID},#{goodsID},#{itemNum},#{itemPrice},#{itemTotal},#{project},#{note},#{storePosition})
    </insert>

    <delete id="delItemsOutByID" parameterType="java.lang.Integer">
        delete from ItemsOut
        where ItemsOutID = #{itemsOutID}
    </delete>

    <select id="findItemsOutByID" parameterType="java.lang.Integer" resultType="com.kcs.rest.pojo.ItemsOut">
        select * from ItemsOut
        where ItemsOutID = #{itemsOutID}
    </select>

    <select id="findItemsOutByOutBillID" parameterType="java.lang.Integer" resultType="com.kcs.rest.pojo.ItemsOut">
        select * from ItemsOut
        where OutBillID = #{OutBillID}
    </select>

    <update id="updateItemsOut" parameterType="com.kcs.rest.pojo.ItemsOut">
        update ItemsOut
        <trim prefix="set" suffixOverrides=",">
            <if test="DepartmentID!=null" >
                DepartmentID = #{DepartmentID},
            </if>
            <if test="OutBillID!=null" >
                OutBillID = #{OutBillID},
            </if>
            <if test="GoodsID!=null" >
                GoodsID = #{GoodsID},
            </if>
            <if test="ItemNum!=null" >
                ItemNum = #{ItemNum},
            </if>
            <if test="ItemPrice!=null" >
                ItemPrice = #{ItemPrice},
            </if>
            <if test="ItemTotal!=null">
                ItemTotal = #{ItemTotal},
            </if>
            <if test="Project!=null" >
                Project = #{Project},
            </if>
            <if test="Note!=null" >
                Note = #{Note},
            </if>
            <if test="StorePosition!=null" >
                StorePosition = #{StorePosition},
            </if>
        </trim>
        where ItemsOutID = #{ItemsOutID}
    </update>

    <delete id="delItemByOutBillID" parameterType="int">
        delete from ItemsOut where OutBillID = #{outBill}
    </delete>

    <select id="findItemsOutData" resultType="com.kcs.rest.pojo.OutBillPresent" parameterType="int">
      select * from(
        select a.OutBillID,a.OutTime,b.GoodsID,b.ItemsOutID,b.StorePosition,b.ItemNum,b.ItemPrice,b.ItemTotal,a.CheckStatus,b.Note from OutBill as a
        left join ItemsOut as b
        on a.OutBillID =b.OutBillID) as show1 where OutBillID = #{outBill}
    </select>

</mapper>