<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kcs.rest.dao.OutBillPresentDao" >
    <select id="findAllOutBillPresent" resultType="com.kcs.rest.pojo.OutBillPresent" parameterType="java.lang.Integer">
        select top(#{end} -#{begin}+1)* from [OutBill],[ItemsOut],[Goods],[Department],[Category],[Summary]
        where [ItemsOut].OutBillID=[OutBill].OutBillID
        and [ItemsOut].GoodsID=[Goods].GoodsID
        and [ItemsOut].DepartmentID=[Department].DepartmentID
        and	[Goods].CategoryID=[Category].CategoryID
        and [Goods].GoodsID=[Summary].GoodsID
        and (select substring([OutBill].OutTime,0,8)) like [Summary].Time
        <if test="time1 != null and time1 != '' and time2 !=null and time2 != ''">
            and  [OutBill].OutTime between #{time1} and #{time2}
        </if>
        <if test="itemName != null and itemName !='' ">
            and [Goods].ItemsName like '%${itemName}%'
        </if>
        <if test="checkStatus != 3">
            and [OutBill].CheckStatus = #{checkStatus}
        </if>
        <if test="userID != 0">
            and [OutBill].Operator =#{userID}
        </if>
        and ItemsOutID not in(select  oo from (select top(#{begin}-1)  [ItemsOut].ItemsOutID as oo
        from [OutBill],[ItemsOut],[Goods],[Department],[Category],[Summary]
        where [ItemsOut].OutBillID=[OutBill].OutBillID
        and [ItemsOut].GoodsID=[Goods].GoodsID
        and [ItemsOut].DepartmentID=[Department].DepartmentID
        and	[Goods].CategoryID=[Category].CategoryID
        and [Goods].GoodsID=[Summary].GoodsID
        and (select substring([OutBill].OutTime,0,8)) like [Summary].Time
        <if test="time1 != null and time1 != '' and time2 !=null and time2 != ''">
            and  [OutBill].OutTime between #{time1} and #{time2}
        </if>
        <if test="itemName != null and itemName !='' ">
            and [Goods].ItemsName like '%${itemName}%'
        </if>
        <if test="checkStatus != 3">
            and [OutBill].CheckStatus = #{checkStatus}
        </if>
        <if test="userID != 0">
            and [OutBill].Operator =#{userID}
        </if>
        order by [OutBill].OutBillID)as o)
        order by [OutBill].OutTime desc
    </select>
    <select id="outBillPresentCount" resultType="java.lang.Integer">
        select count(*)
        from [OutBill],[ItemsOut],[Goods],[Department],[Category],[Summary]
        where [ItemsOut].OutBillID=[OutBill].OutBillID
        and [ItemsOut].GoodsID=[Goods].GoodsID
        and [ItemsOut].DepartmentID=[Department].DepartmentID
        and	[Goods].CategoryID=[Category].CategoryID
        and [Goods].GoodsID=[Summary].GoodsID
        and (select substring([OutBill].OutTime,0,8)) like [Summary].Time
        <if test="time1 != null and time1 != '' and time2 !=null and time2 != ''">
            and  [OutBill].OutTime between #{time1} and #{time2}
        </if>
        <if test="itemName != null and itemName !='' ">
            and [Goods].ItemsName like '%${itemName}%'
        </if>
        <if test="checkStatus != 3">
            and [OutBill].CheckStatus =#{checkStatus}
        </if>
        <if test="userID != 0">
            and [OutBill].Operator =#{userID}
        </if>
    </select>
    <select id="findOutBillPresentByOutBillID" resultType="com.kcs.rest.pojo.OutBillPresent" parameterType="java.lang.Integer">
        select *
        from [OutBill],[ItemsOut],[Goods],[Department],[Category],[Summary]
        where [OutBill].OutBillID=#{OutBillID}
        and [ItemsOut].OutBillID=#{OutBillID}
        and [ItemsOut].GoodsID=[Goods].GoodsID
        and [ItemsOut].DepartmentID=[Department].DepartmentID
        and	[Goods].CategoryID=[Category].CategoryID
        and [Goods].GoodsID=[Summary].GoodsID
        and (select substring([OutBill].OutTime,0,8)) like [Summary].Time
        order by [OutBill].OutBillID asc
    </select>
    <select id="findAllOutBillPresentPrint" resultType="com.kcs.rest.pojo.OutBillPresent">
        select  * from [OutBill],[ItemsOut],[Goods],[Department],[Category],[Summary]
        where [ItemsOut].OutBillID=[OutBill].OutBillID
        and [ItemsOut].GoodsID=[Goods].GoodsID
        and [ItemsOut].DepartmentID=[Department].DepartmentID
        and	[Goods].CategoryID=[Category].CategoryID
        and [Goods].GoodsID=[Summary].GoodsID
        and (select substring([OutBill].OutTime,0,8)) like [Summary].Time
        order by [OutBill].OutTime desc
    </select>
</mapper>