<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kcs.rest.dao.RoleDao" >

    <insert id="addRole" parameterType="String">
        insert into Role (RoleName)
        values (#{roleName})
    </insert>

    <select id="findAllRole" resultType="com.kcs.rest.pojo.Role" parameterType="java.lang.Integer">
      <if test="end != '' and end != null and begin != '' and begin != null">
          select top(#{end}-#{begin}+1) *
          from [Role]
          where RoleID not in(select top(#{begin}-1) RoleID from [Role])
      </if>
    </select>

    <select id="getRoleCount" resultType="java.lang.Integer">
        select count(*)
        from [Role] where 1=1
        <if test="roleName != null and roleName !='' ">
            and RoleName = #{roleName}
        </if>
    </select>

    <select id="findRoleByRoleName" resultType="com.kcs.rest.pojo.Role">
      select top(#{end}-#{begin}+1) *
      from [Log]
        where RoleID not in(select top(#{begin}-1) RoleID from [Role])
        <if test="roleName != null and roleName !='' ">
            and RoleName = #{roleName}
        </if>
    </select>

    <update id="updateRole" parameterType="com.kcs.rest.pojo.Role">
        update Role
        set RoleName = #{roleName}
        where RoleID = #{RoleID}
    </update>

    <delete id="delRole" parameterType="java.lang.Integer">
        delete  from Role
        where RoleID = #{roleID}
    </delete>

    <select id="findTheOthersRoleByUserID" parameterType="java.lang.Integer" resultType="com.kcs.rest.pojo.Role">
        select * from Role
        where RoleID not in(select RoleID from UserRole where UserID = #{userID})
    </select>

    <select id="findAllRolePresent" resultType="com.kcs.rest.pojo.RolePresent">
        select top (#{back}-#{front}+1) [Role].RoleID,[Role].RoleName,[Permission].PermissionID, [Permission].PermissionName, [Permission].PermissionNum from [RolePermission],[Role],[Permission]
        where [Role].RoleID = #{roleID}
        and [Permission].PermissionID = [RolePermission].PermissionID
        and [Role].RoleID = [RolePermission].RoleID
        and [Permission].PermissionID not in(select top (#{front}-1) [Permission].PermissionID from [RolePermission],[Role],[Permission]
        where [Role].RoleID = #{roleID}
        and [Permission].PermissionID = [RolePermission].PermissionID
        and [Role].RoleID = [RolePermission].RoleID)
    </select>

    <select id="findRolePresentCount" resultType="int" parameterType="int">
        select count(*) from [RolePermission],[Role],[Permission]
        where [Role].RoleID = #{roleID}
        and [Permission].PermissionID = [RolePermission].PermissionID
        and [Role].RoleID = [RolePermission].RoleID
    </select>

    <select id="findRoleByID" resultType="com.kcs.rest.pojo.Role">
        select * from Role
        where RoleID = #{roleID}
    </select>

    <delete id="delRolePermission" parameterType="int" >
        delete from RolePermission
        where 1= 1
        <if test="RoleID != 0 and RoleID !='' ">
            and RoleID = #{roleID}
        </if>
        <if test="PermissionID != 0 and PermissionID !='' ">
            and PermissionID = #{permissionID}
        </if>
    </delete>

    <select id="findRolePermission" parameterType="com.kcs.rest.pojo.RolePermission" resultType="com.kcs.rest.pojo.RolePermission">
        select * from
        RolePermission
        where 1=1
        <if test="RoleID != 0 and RoleID !='' ">
            and RoleID = #{roleID}
        </if>
        <if test="PermissionID != 0 and PermissionID !='' ">
            and PermissionID = #{permissionID}
        </if>
    </select>

</mapper>