<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kcs.rest.dao.SummaryDao" >


    <select id="findAllSummary" resultType="com.kcs.rest.pojo.Summary">
        select *
        from [Summary]
    </select>

    <select id="findSummaryByGoodsIDThisMonth" resultType="com.kcs.rest.pojo.Summary">
        select *
        from [Summary]
        where
    </select>
</mapper>