<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kcs.rest.dao.SummaryDao" >


    <select id="summaryTotalByMonth" resultType="Double" parameterType="String">
        select sum(ThisTotal) from Summary where Time = #{time}
    </select>

    <select id="findBetweenBeforeAndAffterInAmout" resultType="Integer">
        select SUM(InAmount) from Summary where GoodsID=#{goodsID} and Time between  #{subTime} and  #{subTime1}
    </select>

    <select id="findBetweenBeforeAndAffterOutAmout" resultType="Integer">
        select SUM(OutAmount) from Summary where GoodsID=#{goodsID} and Time between  #{subTime} and  #{subTime1}
    </select>
    
    <select id="findLongestAfterSummary" resultType="com.kcs.rest.pojo.Summary">
        select top 1 * from Summary where Time &gt;= #{subTime} and GoodsID = #{goodsID} and OutAmount!=0 order by Time desc
    </select>

    <select id="findlatestAfterSummary" resultType="com.kcs.rest.pojo.Summary">
        select top 1 * from Summary where Time &gt;= #{subTime} and GoodsID = #{goodsID} and OutAmount!=0 order by Time
    </select>

    <select id="findAllafterInAmout" resultType="Integer">
        select SUM(InAmount) from Summary where GoodsID=#{goodsID} and Time &gt;=  #{subTime}
    </select>

    <select id="findAllafterOutAmout" resultType="Integer">
        select SUM(OutAmount) from Summary where GoodsID=#{goodsID} and Time &gt;=  #{subTime}
    </select>

    <select id="findAllBeforeInAmout" resultType="Integer">
        select SUM(InAmount) from Summary where GoodsID=#{goodsID} and Time &lt;=  #{subTime}
    </select>

    <select id="findAllBeforeOutAmout" resultType="Integer">
        select SUM(OutAmount) from Summary where GoodsID=#{goodsID} and Time &lt;=  #{subTime}
    </select>

    <select id="findThisMonthInAmountByGoodsID" resultType="com.kcs.rest.pojo.Summary">
        select * from Summary where GoodsID = #{goodsID} and Time like #{subTime}+'%'
    </select>

    <select id="findAllInAmout" resultType="Integer">
        select SUM(InAmount) from Summary where GoodsID=#{goodsID}
    </select>

    <select id="findAllOutAmout" resultType="Integer">
        select SUM(OutAmount) from Summary where GoodsID=#{goodsID}
    </select>

    <select id="findLatestTime" resultType="String">
        select CONVERT(varchar(7),GETDATE(),120)
    </select>

    <select id="findGoodsID" resultType="Integer">
        select GoodsID from Summary group by GoodsID
    </select>

    <select id="findLongTimeSummary" parameterType="Integer" resultType="com.kcs.rest.pojo.Summary">
        select  top 1 * from Summary where Time &lt;=  CONVERT(varchar(7),GETDATE(),120) and GoodsID=#{goodsID} order by Time
    </select>

    <select id="findDateDiff" resultType="Integer">
        select DATEDIFF(mm,#{currentDate},GETDATE())
    </select>

    <select id="dateAdd" resultType="String">
        select CONVERT(varchar(7),DATEADD(MM,DATEDIFF(MONTH,0,DATEADD(month, #{i}, #{currentDate})),0),120)
    </select>

    <select id="findMonth" resultType="String">
        select CONVERT(varchar(7),DATEADD(MM,DATEDIFF(MONTH,0,DATEADD(month, -1, #{dateAdd})),0),120)
    </select>

    <select id="findAllSummary" resultType="com.kcs.rest.pojo.Summary">
        select *
        from [Summary]
    </select>

    <select id="findGoodsIDByTime" resultType="com.kcs.rest.pojo.Goods" parameterType="java.lang.String">
        select GoodsID
        from [Summary]
        where Time like #{Time}+'%'
    </select>

    <select id="findSummaryByGoodsIDAndTime" resultType="com.kcs.rest.pojo.Summary">
        select *
        from [Summary]
        where GoodsID = #{GoodsID} and Time like #{Time}+'%'
    </select>

    <select id="findSummaryByGoodsIDAndTimeBefore" resultType="com.kcs.rest.pojo.Summary">
        select *
        from [Summary]
        where GoodsID = #{GoodsID} and Time &lt;= #{Time}
    </select>

    <select id="findSummaryByGoodsIDAndTimeAfter" resultType="com.kcs.rest.pojo.Summary">
        select *
        from [Summary]
        where GoodsID = #{GoodsID} and Time >= #{Time} order by Time asc
    </select>

    <select id="findBeforeMonth" resultType="com.kcs.rest.pojo.Summary">
        select * from Summary  where GoodsID=#{goodsID} and  Time = CONVERT(varchar(7),DATEADD(MM,DATEDIFF(MONTH,0,#{time})-1,0),120)
    </select>

    <select id="findNearestSummaryByIdAndTime" resultType="com.kcs.rest.pojo.Summary">
        select top 1 * from Summary where Time &lt; #{time} and GoodsID = #{goodsID} order by Time desc
    </select>

    <insert id="insertSummary" parameterType="com.kcs.rest.pojo.Summary">
        insert into Summary (GoodsID,PreAmount,PrePrice,PreTotal,InAmount,InPrice,InTotal,OutAmount,OutPrice,OutTotal,ThisAmount,ThisPrice,ThisTotal,Time) values
        (#{GoodsID},#{PreAmount},#{PrePrice},#{PreTotal},#{InAmount},#{InPrice},#{InTotal},#{OutAmount},#{OutPrice},#{OutTotal},#{ThisAmount},#{ThisPrice},#{ThisTotal},#{Time})
    </insert>

    <select id="findSummaryInTheLastGoodsDataByGoodsID" resultType="com.kcs.rest.pojo.Summary" parameterType="java.lang.Integer">
        select * from (SELECT * FROM Summary s1 WHERE not EXISTS
        (select GoodsID from Summary s2 WHERE s2.Time>s1.Time and s1.GoodsID = s2.GoodsID))s2
        where s2.GoodsID = #{GoodsID}
    </select>

    <update id="updateSummary" parameterType="com.kcs.rest.pojo.Summary" >
         update [Summary]
         <trim prefix="set" suffixOverrides=",">
             <if test="GoodsID != null">GoodsID = #{GoodsID},</if>
             <if test="PreAmount != null">PreAmount = #{PreAmount},</if>
             <if test="PrePrice != null">PrePrice = #{PrePrice},</if>
             <if test="PreTotal != null">PreTotal = #{PreTotal},</if>
             <if test="InAmount != null">InAmount = #{InAmount},</if>
             <if test="InPrice != null">InPrice = #{InPrice},</if>
             <if test="InTotal != null">InTotal = #{InTotal},</if>
             <if test="OutAmount != null">OutAmount = #{OutAmount},</if>
             <if test="OutPrice != null">OutPrice = #{OutPrice},</if>
             <if test="OutTotal != null">OutTotal = #{OutTotal},</if>
             <if test="ThisAmount != null">ThisAmount = #{ThisAmount},</if>
             <if test="ThisPrice != null">ThisPrice = #{ThisPrice},</if>
            <if test="ThisTotal != null">ThisTotal = #{ThisTotal},</if>
            <if test="Time != null">Time = #{Time},</if>
         </trim>
         where SummaryID =#{SummaryID}
    </update>

    <select id="findAllTime" resultType="com.kcs.rest.pojo.SummartAndGoodsAndCategory">
        select distinct Time from Summary
    </select>

    <select id="summartyBillData"  resultType="com.kcs.rest.pojo.SummartAndGoodsAndCategory" >
select top (#{back}- #{front}+1)* from (select Row_Number() over ( order by CategoryName ) as id , * from (
        select c.CategoryName,b.ItemsName,b.GoodsID,b.ItemsType,a.PreAmount,a.PrePrice,a.PreTotal,a.InAmount,a.InPrice,a.InTotal,a.OutAmount,a.OutPrice,a.OutTotal,a.ThisAmount,a.ThisPrice,a.ThisTotal,a.Time from Summary as a
left join Goods as b on a.GoodsID=b.GoodsID
left join Category as c on b.CategoryID=c.CategoryID  where a.Time = #{time}
        )as show)as show1
        where id not in (
            select top (#{front}-1) id from (
            select Row_Number() over ( order by getdate() ) as id , * from (select c.CategoryName,b.ItemsName,b.GoodsID,b.ItemsType,a.PreAmount,a.PrePrice,a.PreTotal,a.InAmount,a.InPrice,a.InTotal,a.OutAmount,a.OutPrice,a.OutTotal,a.ThisAmount,a.ThisPrice,a.ThisTotal,a.Time from Summary as a
left join Goods as b on a.GoodsID=b.GoodsID
left join Category as c on b.CategoryID=c.CategoryID  where a.Time = #{time}
        )as show) as show1)
    </select>

    <select id="summaryTotal" resultType="int" parameterType="String">
        select count(*) from Summary as a
left join Goods as b on a.GoodsID=b.GoodsID
left join Category as c on b.CategoryID=c.CategoryID where a.Time = #{Time}
    </select>

    <delete id="delSummaryByid" parameterType="int">
        delete from Summary where SummaryID =#{SummaryID}
    </delete>

    <select id="summartyAllData"  resultType="com.kcs.rest.pojo.SummartAndGoodsAndCategory" >
     select b.GoodsID,c.CategoryName,b.ItemsName,b.ItemsType,a.PreAmount,a.PrePrice,a.PreTotal,a.InAmount,a.InPrice,a.InTotal,a.OutAmount,a.OutPrice,a.OutTotal,a.ThisAmount,a.ThisPrice,a.ThisTotal,a.Time from Summary as a
    left join Goods as b on a.GoodsID=b.GoodsID
    left join Category as c on b.CategoryID=c.CategoryID order by Time ASC
    </select>

    <select id="summaryAllCurrentdata"  resultType="com.kcs.rest.pojo.SummartAndGoodsAndCategory" >

select top (#{back}- #{front}+1)* from (select Row_Number() over ( order by time ) as id , * from (
        select c.CategoryName,b.ItemsName,b.GoodsID,b.ItemsType,a.PreAmount,a.PrePrice,a.PreTotal,a.InAmount,a.InPrice,a.InTotal,a.OutAmount,a.OutPrice,a.OutTotal,a.ThisAmount,a.ThisPrice,a.ThisTotal,a.Time from Summary as a
    left join Goods as b on a.GoodsID=b.GoodsID
    left join Category as c on b.CategoryID=c.CategoryID  where 1 = 1
        <if test="time1 != null and time1 != '' and time2 !=null and time2 != ''">
            and  Time between #{time1} and #{time2}
        </if>
        <if test="itemName != null and itemName !='' ">
            and ItemsName like '%${itemName}%'
        </if>

        )as show)as show1
        where id not in (
            select top (#{front}-1) id from (
            select Row_Number() over ( order by time ) as id , * from ( select c.CategoryName,b.ItemsName,b.GoodsID,b.ItemsType,a.PreAmount,a.PrePrice,a.PreTotal,a.InAmount,a.InPrice,a.InTotal,a.OutAmount,a.OutPrice,a.OutTotal,a.ThisAmount,a.ThisPrice,a.ThisTotal,a.Time from Summary as a
    left join Goods as b on a.GoodsID=b.GoodsID
    left join Category as c on b.CategoryID=c.CategoryID where 1 = 1
        <if test="time1 != null and time1 != '' and time2 !=null and time2 != ''">
            and  Time between #{time1} and #{time2}
        </if>
        <if test="itemName != null and itemName !='' ">
            and ItemsName like '%${itemName}%'
        </if>
        )as show) as show1) order by Time asc
    </select>

    <select id="countReload" resultType="int" parameterType="String">
        select COUNT(*) from Summary as a
        left join Goods as b on a.GoodsID=b.GoodsID
        left join Category as c on b.CategoryID=c.CategoryID where 1 = 1
        <if test="time1 != null and time1 != '' and time2 !=null and time2 != ''">
            and  Time between #{time1} and #{time2}
        </if>
        <if test="itemName != null and itemName !='' ">
            and ItemsName like '%${itemName}%'
        </if>
    </select>

    <select id="summaryAllTotal" resultType="int">
        select count(*) from Summary
    </select>

    <select id="getThisAmount" resultType="int">
        select ThisAmount from
        Summary
        where GoodsID = #{goodsID}
        and Time = #{time}
    </select>
</mapper>