<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kcs.rest.dao.UserDao" >
    <resultMap id="BaseResultMap" type="com.kcs.rest.pojo.User" >
        <id column="UserID" property="userid" jdbcType="INTEGER" />
        <result column="PositionID" property="positionid" jdbcType="INTEGER" />
        <result column="DepartmentID" property="departmentid" jdbcType="INTEGER" />
        <result column="LoginName" property="loginname" jdbcType="VARCHAR" />
        <result column="UserName" property="username" jdbcType="VARCHAR" />
        <result column="Password" property="password" jdbcType="VARCHAR" />
        <result column="Sex" property="sex" jdbcType="BIT" />
        <result column="Tel" property="tel" jdbcType="VARCHAR" />
        <result column="Email" property="email" jdbcType="VARCHAR" />
        <result column="Photo" property="photo" jdbcType="VARCHAR" />
        <result column="Note" property="note" jdbcType="VARCHAR" />
        <result column="WarehouseMark" property="warehousemark" jdbcType="BIT" />
        <result column="ListerMark" property="listermark" jdbcType="BIT" />
    </resultMap>

    <select id="findAllUser"  resultType="com.kcs.rest.pojo.User" >
        select *
        from [User]
    </select>

    <select id="findAllUserPresent"  resultType="com.kcs.rest.pojo.UserPresent" >
        select [User].UserID,
                [User].PositionID,
                [User].DepartmentID,
                [User].LoginName,
                [User].UserName,
                [User].Password,
                [User].Sex,
                [User].Tel,
                [User].Email,
                [User].Photo,
                [User].Note,
                [User].WarehouseMark,
                [User].ListerMark,
                [Position].PositionName,
                [Department].DepartmentName
        from [User],[Position],[Department]
        where [User].PositionID=[Position].PositionID
        and [User].DepartmentID=[Department].DepartmentID
    </select>

    <select id="findAlllister"  resultType="com.kcs.rest.pojo.User" >
        select * from [User] where ListerMark = 'true'
    </select>

    <select id="findAllWarehouse"  resultType="com.kcs.rest.pojo.User" >
        select * from [User] where WarehouseMark = 'true'
    </select>

    <select id="findUserById" resultType="com.kcs.rest.pojo.User" parameterType="java.lang.Integer">
        select * from [User] where UserID = #{userid}
    </select>

    <select id="findByLoginName" resultType="com.kcs.rest.pojo.User" parameterType="java.lang.String" >
        select *  from  [User]  where  LoginName = #{LoginName}
    </select>

    <select id="findByName" resultType="com.kcs.rest.pojo.User" parameterType="java.lang.String" >
        select *  from  [User]  where  LoginName = #{name} or UserName= #{name}
    </select>

    <select id="count" resultType="int">
        select count(*) from [User]
    </select>

    <select id="findoneUser" resultType="com.kcs.rest.pojo.User" parameterType="String">
        select * from [User] where LoginName = #{loginName};
    </select>

    <update id="updateBase" parameterType="com.kcs.rest.pojo.User" >
         update [User] set UserName=#{userName},DepartmentID = #{departmentID} ,PositionID = #{positionID} , Sex = #{sex} , Email = #{email}, Tel=#{tel},Note=#{note},WarehouseMark=#{warehouseMark},ListerMark=#{listerMark},Photo=#{photo} where LoginName =#{loginName}
    </update>

    <update id="updatePass" parameterType="com.kcs.rest.pojo.User" >
         update [User] set Password = #{password} where LoginName =#{loginName}
    </update>

    <insert id="addUser" parameterType="com.kcs.rest.pojo.User">
        insert into [User](PositionID,DepartmentID,LoginName,UserName,Password,Sex,Tel,Email,Photo,Note,WarehouseMark,ListerMark)
        values (#{positionID},#{departmentID},#{loginName},#{userName},#{password},#{sex},#{tel},#{email},#{photo},#{note},#{warehouseMark},#{listerMark})
    </insert>

    <delete id="delUserByUserID" parameterType="java.lang.Integer">
        delete from [User]
        where UserID = #{userID}
    </delete>

    <select id="findUserPresentById" resultType="com.kcs.rest.pojo.UserPresent" parameterType="java.lang.Integer">
        select [User].UserID
          ,[User].PositionID
          ,[Position].PositionName
          ,[User].DepartmentID
          ,[Department].DepartmentName
          ,[User].LoginName
          ,[User].UserName
          ,[User].Password
          ,[User].Sex
          ,[User].Tel
          ,[User].Email
          ,[User].Photo
          ,[User].Note
          ,[User].WarehouseMark
          ,[User].ListerMark from [User],[Position],[Department]
            where [User].UserID = #{userID}
            and [User].DepartmentID = [Department].DepartmentID
            and [User].PositionID = [Position].PositionID
    </select>

    <update id="updateUser" parameterType="com.kcs.rest.pojo.User">
        update [User]
        <trim prefix="set" suffixOverrides=",">
            <if test="PositionID != null">PositionID = #{PositionID},</if>
            <if test="DepartmentID != null">DepartmentID = #{DepartmentID},</if>
            <if test="UserName != null">UserName = #{UserName},</if>
            <if test="Password != null">Password = #{Password},</if>
            <if test="Sex != null">Sex = #{Sex},</if>
            <if test="Tel != null">Tel = #{Tel},</if>
            <if test="Email != null">Email = #{Email},</if>
            <if test="Photo != null">Photo = #{Photo},</if>
            <if test="Note != null">Note = #{Note},</if>
            <if test="WarehouseMark != null">WarehouseMark = #{WarehouseMark},</if>
            <if test="ListerMark != null">ListerMark = #{ListerMark},</if>
        </trim>
        where UserID =#{UserID}
    </update>
</mapper>