<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kcs.rest.dao.UserRoleDao" >

    <select id="findAllUserRole" resultType="com.kcs.rest.pojo.UserRole">
        select *
        from [UserRole]
    </select>

    <delete id="delUserRoleByUserID_RoleID" parameterType="java.lang.Integer">
        delete from UserRole
        where 1=1
        <if test="userID != 0 and userID !=''">
            and UserID = #{userID}
        </if>
        <if test="roleID != 0 and roleID != ''">
            and RoleID = #{roleID}
        </if>
    </delete>

    <select id="findUserRoleByUserID" resultType="com.kcs.rest.pojo.UserRole" parameterType="java.lang.Integer">
        select *
        from [UserRole],[User],[Role]
        where [UserRole].UserID = #{userID}
        and [User].UserID=[UserRole].UserID
        and [Role].RoleID=[UserRole].RoleID
    </select>

    <insert id="addUserRole">
        insert into UserRole(UserID,RoleID)
        values (#{userID},#{roleID})
    </insert>

    <select id="findUserRoleByRoleID" parameterType="int" resultType="com.kcs.rest.pojo.UserRole">
        select * from UserRole
        where RoleID = #{roleID}
    </select>
</mapper>